:root{
    --header-with-search-height: 80px;
    --border-color: #ccc;
    --primary-color: #3e528f;
    --hover-color:#6278bb9a;
    --nav-height: 40px;
    --header-height: calc(var(--nav-height) + var(--header-with-search-height));
    --head-banner-height: 400px;
    --text-color: black;
    --backgr-color:white;


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family:  'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--backgr-color);
}